* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.row-1 {
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.column {
    min-width: 100%;
    display: flex;
    flex-direction: row;
}

.row-2 {
    min-width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#headline{
    margin-top: 1%;
    padding-bottom: 2%;
}

.show {
    display: inherit;
}

.hidden {
    display: none;
}