* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.outline {
    background-color: white;
}

#sketchHere {
    height: 720px;
    width: 1280px;
    max-width: 100vw!important;
    max-height: 100vh!important;
    overflow: hidden;
    /*
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: white 1px solid;*/
}

.row-1 {
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-around;
}

.column {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.row-2 {
    min-width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.row-3 {
    min-width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#scores{
    color: white;
    position: fixed;
    opacity: 0.4;
    top: 1%;
    right: 0;
    background: none;
}

#score h1, h2, h3, h4, p {
    background: none; 
}

.fix{
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 25%;
}
.fix h1{
    font-size: 10em;
}

#content{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#headline{
    margin-top: 1%;
    padding-bottom: 2%;
}

.show {
    min-height: 15em!important;
    display: flex!important;
    flex-direction: column!important;
    align-items: center!important;
    justify-content: space-around!important;
}

.hidden {
    display: none;
}

#LorR {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 50vh;
}

.imageKeys {
    width: 33%;
}

#inYourFace h1 {
    color: #df4759;
}

.textbox {
    color: white;
    background-color: #2d303a;
    border-radius: 10px 5px 10px 5px;
    padding: 0.5em;
    /*font-style: italic;*/
}

.p5Canvas {
    display: block;
    margin: auto;
}

.btn-primary {
    background-color: rgb(21, 122, 235);
}

.keys {
    display: flex;
    flex-direction: row;
}

.key {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}